{% extends 'base.html.twig' %}
{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}
{% block body %}
    {% include('utils/header.html.twig') %}

    <div class="row mt-6">
        <div class="columns">

            <div class="column is-2"></div>

            <div class="column">
                <p>My favorite</p>
            </div>

            <div class="column"></div>

        </div>
    </div>

    <div class="row mt-3">
        <div class="columns">
            <div class="column is-2"></div>

            {% include('utils/profilBox.html.twig') %}

            <div class="column is-6">

                {% for fav in favoris %}

                <div class="row mt-4">
                    <div class="box">
                        <div class="columns">
                            <div class="column is-one-third">
                                <img src="{{asset(productRepository.find(fav.getProductId()).image)}}" alt="Placeholder image">
                            </div>

                            <div class="column is-one-third mt-6">
                                <p>{{ productRepository.find(fav.getProductId()).name }}</p>
                            </div>

                            <div class="column is-one-third ml-6 mt-6">
                                <a href="{{ path('DeleteToFavorite') }}?id={{ fav.id }}" class="button has-text-right">
                            <span class="icon is-small">
                                <i class="fas fa-solid fa-ban"></i>
                            </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>

        </div>
    </div>

    {% include('utils/footer.html.twig') %}
{% endblock %}
