{% extends 'profile_base.html.twig' %}
{% block infos %}
{% for order in orders %}
    <div class="box">
        <div class="columns">
            <div class="column is-half">
                <p><strong>Order #{{order.id}}</strong></p>
                <br>
                <p>{{order.createdAt|date("d-m-y")}}</p>
            </div>

            <div class="column is-half">
                <p>{{order.price}}$</p>
                <br>
                <a href="{{ path('orderDetail', {order_id: order.id}) }}">View detail</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
