{% extends 'base.html.twig' %}
{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}
{% block body %}
    {% include('utils/header.html.twig') %}

    <div class="row mt-6">
        <div class="columns">

            <div class="column is-2"></div>

            <div class="column">
                <p>My orders</p>
            </div>

            <div class="column"></div>

        </div>
    </div>

    <div class="row mt-3">
        <div class="columns">
            <div class="column is-2"></div>

            {% include('utils/profilBox.html.twig') %}

            <div class="column is-6">
                <div class="row">
                    <div class="box">
                        <div class="columns">
                            <div class="column is-half mr-6">
                                <p><strong>Order Number #E232LDSSN</strong></p>
                            </div>

                            <div class="column ml-6">
                                <p>20/01/2021</p>
                            </div>
                        </div>

                        <div class="row mt-5">

                            <div class="columns">
                                <div class="column is-one-quarter">
                                    <img src="{{ asset('image/midChicago.png') }}" alt="Placeholder image">
                                </div>

                                <div class="column is-one-quarter">
                                    <p>Air Jordan Mid Chicago</p>
                                </div>

                                <div class="column is-one-quarter">
                                    <p>Size<br></p>
                                    <p><strong>10US</strong></p>
                                </div>

                                <div class="column is-one-quarter">
                                    <p>375.00$</p>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">

                            <div class="columns">
                                <div class="column is-one-quarter">
                                    <img src="{{ asset('image/midChicago.png') }}" alt="Placeholder image">
                                </div>

                                <div class="column is-one-quarter">
                                    <p>Air Jordan Mid Chicago</p>
                                </div>

                                <div class="column is-one-quarter">
                                    <p>Size<br></p>
                                    <p><strong>10US</strong></p>
                                </div>

                                <div class="column is-one-quarter">
                                    <p>375.00$</p>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">

                            <div class="columns mt-6">
                                <div class="column is-one-quarter">
                                    <p><strong>Subtotal</strong></p>
                                </div>

                                <div class="column is-one-quarter"></div>

                                <div class="column is-one-quarter"></div>

                                <div class="column is-one-quarter">
                                    <p>375.00$</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="columns">
                                <div class="column is-one-quarter">
                                    <p>Delivery</p>
                                </div>

                                <div class="column is-one-quarter"></div>

                                <div class="column is-one-quarter"></div>

                                <div class="column is-one-quarter">
                                    <p>5$</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="columns">
                                <div class="column is-one-quarter">
                                    <p><strong>Total</strong></p>
                                </div>

                                <div class="column is-one-quarter"></div>

                                <div class="column is-one-quarter"></div>

                                <div class="column is-one-quarter">
                                    <p>755.00$</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include('utils/footer.html.twig') %}
{% endblock %}
