body
{
    background-image: url("../../public/images/sneakers.png");
    background-color: #E5E5E5;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p
{
    position: absolute;
    width: 253px;
    height: 44px;
    left: 70px;
    top: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #000000;
}

.box_auth
{
    position: relative;
    width: 120px;
    top: 280px;
    left: 100px;
    background:transparent;
}

.box_auth h3
{
    font-size: 35px;
    position: relative;
}

.box_auth button
{
    background-color: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 111px;
    color: white;
}