{% extends 'base.html.twig' %}
{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}
{% block body %}
    <style>
        body {
            background-image: url({{ asset('image/backMenu.jpg') }});
            width: auto;
            height: auto;
        }
    </style>
    <div class="container">
        <p>guigesogepgpeo</p>
    </div>
{% endblock %}