{% extends 'base.html.twig' %}
{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}
{% block body %}
    {% include('utils/header.html.twig') %}


	<div class="container mt-6">

        <div>
            <h4 class>Our Products </h4>
        </div>

        <div class="columns is-vcentered">
             <div class="column">
                            <button class="button is-rounded">Newest</button>
                            <button class="button is-rounded is-black ml-2">Price</button>
                            <button class="button is-rounded is-black ml-2">Price</button>
             </div>
            <div class="column">
                                        <button class="button is-rounded">Previous</button>
                                            <p3>1/10 </p3>
                                        <button class="button is-rounded is-black ml-2">Next</button>
            </div>
        </div>



        <div class="row ml-6 mt-6">
            <div class="row ml-6 mt-6">
                    <div class="row ml-6 mt-6">
                        <div class="row ml-2">
                        <h4 class="has-text-weight-bold">Filter by</h4>
                    </div>
                </div>
            </div>
        </div>


        {# box on left #}


        <div class="columns">
            <div class="column ml-6">
                <div class="ml-6">
                    <div class="ml-6">
                        <div class="ml-1">
                            <div class="box">
                                <span class="icon-text">
                                     <a class="ml-2 is-size-5">Brand</a>
                                  <span class="icon">
                                    <i class="fas fa-home"></i>
                                  </span>
                                </span>
                                <a><br></br>Adidas<br></a>
                                <a>Jordan<br></a>
                                <a>New Balance<br></a>
                                <a>Puma<br></a>
                                <a>Nike<br></a>
                            </div>

                            <div class="box">
                                <span class="icon-text">
                                     <a class="ml-2 is-size-5">Size(US)</a>
                                  <span class="icon">
                                    <i class="fas fa-home"></i>
                                  </span>
                                </span>
                                <a><br></br>6</a>
                                <a>6.5</a>
                                <a>7</a>
                                <a>7.5</a>
                                <a>8</a>
                                <a>8.5</a>
                                <a>9</a>
                                <a>9.5</a>
                                <a>10</a>
                            </div>

                            <div class="box">
                                <span class="icon-text">
                                     <a class="ml-2 is-size-5">Price(USD)</a>
                                  <span class="icon">
                                    <i class="fas fa-home"></i>
                                  </span>
                                </span>
                            </div>

                            <div class="box">
                                <span class="icon-text">
                                     <a class="ml-2 is-size-5">Release Date</a>
                                  <span class="icon">
                                    <i class="fas fa-home"></i>
                                  </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% set nb = 0 %}

        <div class="column is-two-thirds">
            <div class="row">
                <div class="is-flex is-flex-direction-row is-justify-content-center">

                    {% for p in product %}

                        {% set nb = nb+1 %}

                        <div class="card mr-5">
                            <div class="card-image">
                                <figure class="image is-4by3">
									{% if p.image is not null %}
                                    <img style="max-height: 200px; max-width: 300px" src="{{ asset(p.image) }}" alt="Placeholder image">
									{% endif %}
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">{{ p.name }}</p>
                                    </div>
                                </div>

                                <div class="content">
                                    {{ p.price }}
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="/product/{{ p.getId() }}" class="card-footer-item">More detail</a>
                                <a href="#" class="card-footer-item">Add to favorite</a>
                            </footer>
                        </div>

                        {% if nb%3 == 0 %}

                </div>
            </div>
        <div class="row mt-3">
            <div class="is-flex is-flex-direction-row is-justify-content-center">
                        {% endif %}

                    {% endfor %}

        </div>
        </div>
        </div>
        </div>
	</div>

    {% include('utils/footer.html.twig') %}

{% endblock %}