{% extends 'base.html.twig' %}
{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}
{% block body %}
{% include('utils/header.html.twig') %}
<div class="container mt-4">
    <p>My orders</p>

    <div class="columns mt-4">
    	{% include('utils/profileBox.html.twig') %}

        <div class="column is-two-thirds">
			{% block infos %}{% endblock %}
        </div>
    </div>
</div>
    {% include('utils/footer.html.twig') %}
{% endblock %}
