<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>MLSV(SNKRZ)</strong> The source code is licensed
            by Miage class. For more information, please check the page <a href="{{ path('home_page') }}">About Us</a>.
        </p>
    </div>
</footer>