<div class="column is-one-third">
    <div class="box">
        <a class="has-text-black" href="{{ path('profile') }}">My Personal Information</a>
        <span class="icon is-small">
            <i class="fas fa-solid fa-user ml-1"></i>
        </span>
        <br>

        <a class="has-text-black" href="{{ path('orders') }}"> <br>My Orders</a>
        <span class="icon is-small">
            <i class="fas fa-solid fa-box"></i>
        </span>
        <br>

        <a class="has-text-black" href="{{ path('bookmarks') }}"><br>My Favorites</a>
        <span class="icon is-small">
            <i class="fas fa-solid fa-heart"></i>
        </span>
        <br>

        <a class="has-text-black" href="{{ path('alerts') }}"><br>My Alerts</a>
        <span class="icon is-small">
            <i class="fas fa-solid fa-bell"></i>
        </span>
    </div>
</div>